## Default: (none/empty)
#  Generate with: openssl rand -hex 32
SERVERBEACON_APP_SECRET=
## Default: false
SERVERBEACON_DEBUG=
## Default: http
SERVERBEACON_API_PROTO=
## Default: 0.0.0.0
SERVERBEACON_API_HOST=
## Default: 18080
SERVERBEACON_API_PORT=
