# Binaries
serverbeacon
serverbeacon.exe
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dist/build dirs
dist/
bin/
build/
release/

# Go workspace file
go.work
go.work.sum

# Configuration files
config.toml
secrets.toml
config/config.toml
config/.secrets.toml
.env
.env
*.local
*.local.*

!*example*.*
!*.*example*

# Database files
data/
*.sqlite
*.db

# Logs
logs/
*.log

# Other
tmp/
